################################
# GENERAL
################################
.DS_Store
Thumbs.db

################################
# IDE / EDITOR
################################
.vscode/
.idea/

################################
# ENV
################################
.env
.env.*
*.env

################################
# BACKEND (Python / Django)
################################
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.log
backend/db.sqlite3

################################
# FRONTEND (Node / React/Vite)
################################
frontend/node_modules/
frontend/dist/
frontend/build/

################################
# DOCKER
################################
*.pid

################################
# DOCKER VOLUMES (MUY IMPORTANTE)
################################
volumes/
