version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: inv_db
      POSTGRES_USER: inv_user
      POSTGRES_PASSWORD: inv_pass
    volumes:
      - inv_pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    restart: always
    env_file:
      - ./backend/.env.prod
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: always
    env_file:
      - ./frontend/.env.prod
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

volumes:
  inv_pgdata:
