version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: inv_db_dev
      POSTGRES_USER: inv_user_dev
      POSTGRES_PASSWORD: inv_pass_dev
    volumes:
      - inv_pgdata_dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env.dev
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: sh -c "sleep 5 && npm run dev"
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env.development
    depends_on:
      - backend

volumes:
  inv_pgdata_dev:
